# Arduino
*.elf
*.hex
*.bin
*.eep
*.map
*.dmp
*.obj
*.o
*.a
*.sdf
*.dep
*.d
*.log
*.pyc
*.swp
.vscode/
build/
*.ino.*.cpp
*.ino.*.bin
*.ino.*.hex
*.ino.*.elf
*.ino.*.eep
*.ino.*.map
*.ino.*.dmp
*.ino.*.obj
*.ino.*.o
*.ino.*.a
*.ino.*.sdf
*.ino.*.dep
*.ino.*.d
*.ino.*.log
*.ino.*.pyc
*.ino.*.swp
__pycache__/
*.DS_Store
*.tmp
*.bak
*.backup
*.orig
*.save
*.sublime-workspace
*.sublime-project
*.code-workspace
*.vscode/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

